# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.6
6.out


# Folders
_obj
_test
wxWidgets/wxWidgets-3.0.0/*
!wxWidgets/wxWidgets-3.0.0/WX_SOURCE_ROOT

swig_wrap_output/*
!swig_wrap_output/gcccit.sh
!swig_wrap_output/make_shared_lib.sh

swig_lib_output/*
!swig_lib_output/make_static_lib.sh
!swig_lib_output/go_helper.go


# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

*.6
6.out
