# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.so
*.6
*.out
*~

# Folders
_obj
_test


# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app